<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914953000657-1g1066m31mqbrrh58kspje4bo53o9qod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914953000657-1g1066m31mqbrrh58kspje4bo53o9qod</string>
	<key>API_KEY</key>
	<string>AIzaSyCGOgvUrD8vz0JRehhntwucaVDA4CpNaSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>914953000657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spac</string>
	<key>PROJECT_ID</key>
	<string>spac-cc855</string>
	<key>STORAGE_BUCKET</key>
	<string>spac-cc855.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914953000657:ios:19365d2cddd3aad7fe57f0</string>
</dict>
</plist>